<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879547030341-0o5toj2iustvc00fm57pk1p8lfkr05ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879547030341-0o5toj2iustvc00fm57pk1p8lfkr05ra</string>
	<key>API_KEY</key>
	<string>AIzaSyCGSWSjiD758nbqrasJGPCAkFmxrpNrzAo</string>
	<key>GCM_SENDER_ID</key>
	<string>879547030341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.viewster</string>
	<key>PROJECT_ID</key>
	<string>viewster-95d61</string>
	<key>STORAGE_BUCKET</key>
	<string>viewster-95d61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879547030341:ios:dc14131d549620821bbc2c</string>
	<key>DATABASE_URL</key>
	<string>https://viewster-95d61.firebaseio.com</string>
</dict>
</plist>